@import "../../styles/variables.scss";

@mixin shrinkLabel {
  top: 0;
  left: 0;
  font-size: 12px;
  color: $orange;
}

.group {
  position: relative;
  margin: 10px 0;
  border: none;

  .form-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type="password"] {
    letter-spacing: 0.3em;
  }

  .form-input-label {
    color: $black;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
